.inner-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 16px;
  .photo {
    width: 40px;
    height: 40px;
    border-radius: 9999px;
    overflow: hidden;
    background-color: #c1b9b9;
    margin-right: 12px;
    img {
      width: 100%;
    }
  }
  .info {
    flex-basis: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 12px;
    flex-grow: 1;
    .text {
      &:first-child {
        span {
          font-weight: 700;
        }
      }
      &:last-child {
        span {
          font-weight: 300;
          color: #536371;
        }
      }
    }
  }
  .button {
    button {
      min-width: 87px;
      background-color: #000;
      color: #fff;
      border: none;
      border-radius: 9999px;
      padding: 5px 10px;
      font-weight: 700;
      font-size: 14px;
      &.active {
        background-color: #fff;
        color: #c1b9b9;
        border: 1px solid #c1b9b9;
        &:hover {
          font-size: 0;
          color: red;
          border: 1px solid red;
        }
        &:hover:before {
          font-size: 14px;
          content: "Unfollow";
        }
      }
    }
  }
}
