@import "assets/styles/_variables";

.inner-container {
  grid-area: main;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 600px;
  border-left: 1px solid $border-color;
  border-right: 1px solid $border-color;
  .content-wrap {
    flex: auto;
    position: relative;
    .content-header {
      position: sticky;
      top: 0px;
      backface-visibility: hidden;
      background-color: rgba(255, 255, 255, 0.85);
      z-index: 3;
      .content-header-logo {
        height: 53px;
        width: 100%;
        display: flex;
        align-items: center;
        padding: 0 16px;
        h3 {
          font-weight: 700;
        }
      }
      .content-header-tab {
        display: flex;
        justify-content: space-around;
        text-align: center;
        align-items: flex-end;
        border-bottom: 1px solid $border-color;
        height: 53px;
        .tab-items {
          cursor: pointer;
          min-width: 60px;
          span {
            font-weight: 400;
            color: #726d6d;
          }
          div {
            min-height: 4px;
            margin-top: 5px;
          }
          &:hover,
          &.active {
            span {
              font-weight: 900;
              color: #000;
            }
            div {
              background-color: #1d9bf0;
              margin-top: 5px;
              height: 4px;
              min-width: 56px;
              border-radius: 9999px;
            }
          }
        }
      }
    }
    .content-main {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
    }
  }
}

@media screen and (max-width: 768px) {
  .inner-container {
    grid-column-start: 1;
    grid-column-end: 4;
  }
}