@import "assets/styles/_variables";

.inner-container {
  grid-area: main;
  padding: 12px 16px;
  max-width: 600px;
  border-left: 1px solid $border-color;
  border-right: 1px solid $border-color;
  > h3 {
    font-weight: 700;
  }
  .profile-area {
    padding: 12px 0;
    .profile-bg {
      background-color: #c1b9b9;
      width: 100%;
      height: 150px;
      margin-bottom: 10px;
      img {
        width: 100%;
        height: 100%;
      }
    }
    .profile-thumb {
      display: flex;
      justify-content: space-between;
      margin-bottom: 30px;
      .image-container {
        position: relative;
        margin-top: -15%;
        .profile-image {
          position: absolute;
          width: 100px;
          height: 100px;
          background-color: #fff;
          border-radius: 9999px;
          left: 10px;
          overflow: hidden;
          img {
            width: 100%;
          }
        }
      }
      button {
        font-weight: 700;
        float: right;
        background-color: #fff;
        color: #000;
        border: 1px solid #e3e3e3;
        border-radius: 9999px;
        padding: 10px 20px;
        cursor: pointer;
      }
    }
    .profile-content {
      .name {
        color: rgb(83, 100, 113);
        span:first-child {
          font-weight: 700;
          color: black;
          margin-right: 5px;
        }
      }
      .follow {
        display: flex;
        justify-content: flex-start;
        padding: 12px 0;
        font-size: 14px;
        color: #615e5e;
        div {
          &:first-child {
            margin-right: 20px;
          }
          span {
            font-weight: 700;
            color: #000;
            white-space: pre wrap;
          }
        }
      }
    }
  }
  .edit-area {
    margin-bottom: 30px;
    border-radius: 15px;
    border: 1px solid #e3e3e3;
    padding: 10px;
    input[type="file"] {
      display: none;
    }
    .input-bg {
      background-color: #e3e3e3;
      height: 150px;
      .bg-upload {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 150px;
        img {
          width: 100%;
          height: 100%;
        }
        label {
          background-color: rgba(1, 1, 1, 0.5);
          border-radius: 9999px;
          padding: 4px;
          position: absolute;
          cursor: pointer;
        }
      }
    }
    .input-photo {
      margin-bottom: 20px;
      position: relative;
      margin-bottom: 80px;
      .photo-upload {
        background-color: #e3e3e3;
        position: absolute;
        width: 100px;
        height: 100px;
        border-radius: 9999px;
        margin-top: -15%;
        top: 0;
        left: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        label {
          background-color: rgba(1, 1, 1, 0.5);
          border-radius: 9999px;
          padding: 4px;
          position: absolute;
          cursor: pointer;
        }
        img {
          width: 100%;
          border-radius: 9999px;
        }
      }
    }
    .input-text {
      border: 1px solid #e3e3e3;
      border-radius: 5px;
      padding: 10px;
      font-size: 16px;
      margin-bottom: 20px;
      &.active {
        border-color: rgb(29, 155, 240);
        span {
          color: rgb(29, 155, 240);
        }
      }
      span {
        font-size: 0.8rem;
        color: #726e6e;
      }
      input[type="text"] {
        border: none;
        outline-color: #fff;
        &:focus {
        }
      }
    }
    input[type="submit"],
    button {
      font-weight: 700;
      border-radius: 9999px;
      border: none;
      background-color: black;
      color: #fff;
      padding: 5px 20px;
      cursor: pointer;
      margin-right: 10px;
      &.cancel-btn {
        background-color: #fff;
        color: #615e5e;
        border: 1px solid #e3e3e3;
      }
    }
  }
  .tab-area {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-around;
    padding: 12px 16px;
    .tab-items {
      cursor: pointer;
      flex-grow: 1;
      padding: 12px 16px;
      .item-wrap {
        display: inline-flex;
        flex-direction: column;
        span {
          font-weight: 700;
          color: #615e5e;
        }
        div {
          margin-top: 10px;
          height: 4px;
          min-width: 56px;
          border-radius: 9999px;
        }
      }
      &.active,
      &:hover {
        .item-wrap {
          span {
            color: #000;
          }
          div {
            background-color: rgb(29, 155, 240);
          }
        }
      }
      &:hover {
        background-color: #f7f9f9;
      }
    }
  }
  .tab-content {
    .null-container {
      background-color: #f7f9f9;
      border-radius: 10px;
      padding: 12px 16px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      min-height: 150px;
      .bg {
        padding: 12px 16px;
        color: #726d6d;
      }
      .comment {
        span {
          color: #726d6d;
          font-weight: 700;
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .inner-container {
    grid-column-start: 1;
    grid-column-end: 4;
  }
}
