@import "assets/styles/_variables";

.inner-container {
  grid-area: main;
  padding: 12px 16px;
  .search-form {
    margin-bottom: 20px;
    display: flex;
    width: 100%;
    input {
      width: 100%;
      border-radius: 15px;
      border: 1px solid $border-color;
      padding: 5px;
      outline-color: $point-color;
    }
  }
}

@media screen and (max-width: 768px) {
  .inner-container {
    grid-column-start: 1;
    grid-column-end: 4;
  }
}
