@import "assets/styles/_variables";

.container {
  display: grid;
  grid-template-areas:
    "header main sidebar"
    ". . ."
    "footer footer footer";
  grid-template-columns: 1fr 600px 1fr;
  gap: 16px;
  footer {
    grid-area: footer;
  }
}

body {
  background-color: $bg-color;
}
@media screen and (max-width: 768px) {
  .container {
    grid-template-columns: 1fr auto 1fr;
  }
}
