.content-wrap {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-top: 70px;
  text-align: center;
  .login-logo-wrap {
    display: inline-block;
    width: 100%;
    svg {
      max-width: 380px;
    }
  }
  &.mobile-wrap {
    flex-direction: column;
    .login-logo-wrap {
      svg {
        width: 50px;
        height: 50px;
      }
    }
  }
  .login-wrap {
    display: inline-block;
    width: 100%;
    .login-email {
      margin: 20px auto;
      p {
        text-align: left;
        font: {
          size: 3rem;
          weight: 700;
        }
        margin-bottom: 30px;
      }
      form {
        div {
          color: red;
          margin-bottom: 20px;
        }
      }
      span {
        text-decoration-line: underline;
      }
      input {
        width: 100%;
        padding: 10px 20px;
        border-radius: 20px;
        border: 1px solid {
          radius: 20px;
        }
        font-size: 1.2rem;
        margin-bottom: 20px;
        &::placeholder {
          text-align: left;
          color: #e3e3e3;
        }
        &[type="submit"] {
          background-color: black;
          color: white;
          cursor: pointer;
        }
        &[type="text"] {
          background-color: white;
          color: black;
        }
      }
    }
    .login-social {
      display: flex;
      justify-content: space-between;
      margin: 0 auto;
      button {
        width: 100%;
        padding: 10px 20px;
        border: 1px solid {
          radius: 20px;
        }
        margin-right: 10px;
        background-color: white;
        cursor: pointer;
      }
    }
  }
}
