.inner-container {
  display: flex;
  padding: 12px;
  max-width: 600px;
  flex-grow: 3;
  .kweet-area {
    flex: auto;
    .kweet-header {
      .kweet-home {
        margin-bottom: 30px;
        h3 {
          font-weight: 700;
        }
      }
      .kweet-tab {
        margin-bottom: 30px;
        display: flex;
        justify-content: space-around;
        text-align: center;
        align-items: center;
        .tab-items {
          cursor: pointer;
          span {
            font-weight: 400;
            color: #726d6d;
          }
          div {
            min-height: 4px;
            margin-top: 5px;
          }
          &:hover,
          &.active {
            span {
              font-weight: 700;
              color: #000;
            }
            div {
              background-color: #1d9bf0;
              margin-top: 5px;
              height: 4px;
              min-width: 56px;
              border-radius: 9999px;
            }
          }
        }
      }
    }
    .kweet-main {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      .null-container {
        background-color: #f7f9f9;
        border-radius: 10px;
        padding: 12px 16px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        min-height: 150px;
        .bg {
          padding: 12px 16px;
          color: #726d6d;
        }
        .comment {
          span {
            color: #726d6d;
            font-weight: 700;
          }
        }
      }
    }
  }
}
