$point-color: #1d9bf0;
$button-bg-color: #0f1419;
$button-text-color: #fff;
$text-color: #0f1419;
$subtext-color: #536471;
$primary-color: rgba(15, 20, 25, 0.1);
$secondary-color: rgb(247, 249, 249);
$border-color: #eff3f4;
$modal-bg-color: rgba(255, 255, 255, 0.85);
$bg-color: #fff;

/* 다크모드 */
@media (prefers-color-scheme: dark) {
  $point-color: #1d9bf0;
  $bg-color: #eff3f4;
  $text-color: #e7e9ea;
  $subtext-color: #71767b;
  $primary-color: #16181c;
  $secondary-color: rgba(231, 233, 234, 0.1);
  $border-color: #2f3336;
  $modal-bg-color: rgba(255, 255, 255, 0.85);
  $bg-color: #000;
}
