@font-face {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 100;
  src: local("NotoSansKR"),
    url(./../../assets/fonts/NotoSansKR-Thin.woff2) format("woff2"),
    url(./../../assets/fonts/NotoSansKR-Thin.woff) format("woff");
}
@font-face {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 300;
  src: local("NotoSansKR"),
    url(./../../assets/fonts/NotoSansKR-Light.woff2) format("woff2"),
    url(./../../assets/fonts/NotoSansKR-Light.woff) format("woff");
}
@font-face {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 400;
  src: local("NotoSansKR"),
    url(./../../assets/fonts/NotoSansKR-Regular.woff2) format("woff2"),
    url(./../../assets/fonts/NotoSansKR-Regular.woff) format("woff");
}
@font-face {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 500;
  src: local("NotoSansKR"),
    url(./../../assets/fonts/NotoSansKR-Medium.woff2) format("woff2"),
    url(./../../assets/fonts/NotoSansKR-Medium.woff) format("woff");
}
@font-face {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 700;
  src: local("NotoSansKR"),
    url(./../../assets/fonts/NotoSansKR-Bold.woff2) format("woff2"),
    url(./../../assets/fonts/NotoSansKR-Bold.woff) format("woff");
}
@font-face {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 900;
  src: local("NotoSansKR"),
    url(./../../assets/fonts/NotoSansKR-Black.woff2) format("woff2"),
    url(./../../assets/fonts/NotoSansKR-Black.woff) format("woff");
}
